.button {
  &--background-pink {
    display: block;
    padding: 10px;
    background-color: $pink;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    &:focus,
    &:hover {
      transform: scale(1.1);
      transition: all ease-in-out 0.3s;
    }
  }

  &__call {
    background-image: url('../img/call.svg');
  }
  &__chat {
    background-image: url('../img/chat.svg');
  }
  &__profile {
    background-image: url('../img/profile.svg');
  }

  &__search {
    background-image: url('../img/search.svg');
  }

  &__burger {
    background-image: url('../img/burger.svg');
  }

  &__cross {
    background-image: url('../img/cross.svg');
  }

  &__repair {
    background-image: url('../img/repair.svg');
  }

  &__check-status {
    background-image: url('../img/check-status.svg');
  }

  &--left {
    margin-left: auto;
  }

  @media (min-width: 768px) {
    &__arrows {
      transition: all 0.3s ease-in-out;
    }
  }
}
