.footer {
  color: $text-light;
  font-family: 'TT Lakes';
  font-size: 14px;
  background-color: $background;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  padding: 16px;
  text-align: center;

  box-shadow: 0 0 0 1px $light-blue;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    text-align: start;

    &__last-elem {
      text-align: end;
    }
  }

  @media (min-width: 1120px) {
    max-width: 1120px;
    position: relative;
    left: 320px;
  }
}
