.header {
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: $white;
  box-shadow: 0 0 0 2px $light-blue;

  padding: 20px;

  &__repair {
    margin-left: auto;
    position: relative;

    &:before {
      content: '';
      width: 2px;
      height: 32px;
      background-color: $border-light;
      border-radius: 20%;
      left: -20px;
      top: 5px;
      display: block;
      position: absolute;
    }
  }

  &__call,
  &__chat,
  &__profile {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  @media (min-width: 768px) {
    &__call {
      margin-left: auto;
    }

    &__repair {
      margin-left: 26px;
    }

    &__logo {
      position: relative;
      margin-left: 26px;

      &::after {
        content: '';
        width: 2px;
        height: 32px;
        background-color: $border-light;
        border-radius: 20%;
        left: -20px;
        top: 10px;
        display: block;
        position: absolute;
      }
    }

    @media (min-width: 1120px) {
      display: none;
    }
  }
}
