.main {
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  font-family: 'TT Lakes';
  font-size: 16px;
  color: $text;

  background-color: $background;

  // &--fixed {
  //   position: fixed;
  // }

  &__title-container {
    display: flex;
    align-items: center;
  }

  &__repair,
  &__check-status {
    display: none;
  }

  &__title {
    position: relative;
    padding-left: 16px;

    font-weight: 700;
    font-size: 28px;

    margin: 0;

    &:before {
      content: '';
      width: 4px;
      height: 40px;
      background-color: $blue;
      border-radius: 25%;
      left: 0px;
      top: -3px;
      position: absolute;
    }
  }

  &__slide-menu {
    mask-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      rgba(248, 248, 248, 1) 40%
    );
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__read-more {
    height: 24px;

    font-family: 'TT Lakes';
    font-weight: 500;
    color: $text;
    font-size: 14px;

    margin-top: 16px;
    padding-left: 16px;

    display: flex;
    gap: 10px;
    align-items: center;

    &:hover {
      cursor: pointer;
      opacity: 0.7;

      transition: opacity 0.2s ease-in-out;
    }
  }

  &__photo {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    &__title,
    &__slide-menu,
    &__read-more {
      padding-left: 24px;
    }

    &__slide-menu {
      mask-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(248, 248, 248, 1) 10%
      );
    }

    &__description {
      flex-direction: row;
      gap: 48px;
    }

    &__photo {
      min-width: 360px;
      height: auto;
      border-radius: 10px;
      padding-right: 24px;
    }
  }

  @media (min-width: 1120px) {
    padding-top: 42px;

    &--desktop {
      position: relative;
      left: 320px;
      max-width: 1120px;
    }

    &__repair,
    &__check-status {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      margin-right: 16px;

      font-family: 'TT Lakes';
      color: $text;
      font-weight: 500;
      font-size: 16px;
    }

    &__repair {
      margin-left: auto;
    }

    &__title,
    &__slide-menu,
    &__read-more {
      padding-left: 32px;
    }

    &__slide-menu {
      flex-wrap: wrap;
      mask-image: none;
      overflow: visible;
      height: auto;
    }

    &__photo {
      height: 307px;
      max-width: none;
      min-width: auto;
    }
  }
}

.description__text {
  font-size: 14px;

  padding-left: 16px;
  padding-right: 20px;

  max-height: 95px;
  overflow: hidden;

  &--show {
    max-height: 200px;
  }

  @media (min-width: 768px) {
    padding-left: 24px;

    max-height: 160px;
    padding-right: 0;
    line-height: 20px;

    &--show {
      max-height: 250px;
    }
  }

  @media (min-width: 1120px) {
    padding-left: 32px;

    max-height: 490px;

    &--show {
      max-height: 600px;
    }
  }
}

.main-container {
  position: relative;
  overflow: hidden;

  @media (min-width: 1120px) {
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 1000px $background;
  }
}
