.side-menu {
  background-color: #ffffff;

  width: 320px;
  position: absolute;
  left: -400px;
  top: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 45px;

  padding: 24px;

  box-shadow: 20px 0px 50px 0px #0e185033;

  font-family: 'TT Lakes';
  font-size: 16px;
  color: #1b1c21;

  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: 1120px) {
    left: 0;
    box-shadow: none;
  }
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer {
  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-style: normal;
  }

  &__mail {
    font-weight: 500;
    text-decoration: none;
    color: #1b1c21;
  }

  &__tel {
    text-decoration: none;
    color: #1b1c21;
    font-weight: 500;
    font-weight: 700;
    font-size: 24px;
  }

  &__lang {
    margin-top: 30px;
  }
}

.lang {
  display: flex;
  gap: 10px;

  &__button {
    border: none;
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: 'TT Lakes';
    font-weight: 500;

    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
    }
  }
}
