.side-menu {
  background-color: $white;

  position: absolute;
  left: -400px;
  top: 0;
  z-index: 3;

  width: 100%;
  max-width: 360px;
  height: 100vh;
  min-height: 800px;

  transition: left 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 45px;

  padding: 24px;

  box-shadow: 20px 0px 50px 0px #0e185033;

  font-family: 'TT Lakes';
  font-size: 16px;
  color: $text;

  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &--show {
    left: 0;
    transition: left 0.3s ease;
  }

  &__shade {
    display: none;
    background-color: white;
    transition: all 0.3s ease;
  }

  @media (min-width: 768px) {
    &__shade--show {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 2;
      transition: all 0.3s ease;
    }
  }

  @media (min-width: 1120px) {
    left: 0;
    box-shadow: none;
    max-width: 320px;
  }
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (min-width: 1120px) {
    &__button {
      display: none;
    }
  }
}

.footer {
  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-style: normal;
  }

  &__mail {
    font-weight: 500;
    text-decoration: none;
    color: $text;
  }

  &__tel {
    text-decoration: none;
    color: $text;
    font-weight: 500;
    font-weight: 700;
    font-size: 24px;
  }

  &__lang {
    margin-top: 30px;
  }
}

.lang {
  display: flex;
  gap: 10px;

  &__button {
    border: none;
    background-color: $white;
    text-transform: uppercase;
    font-family: 'TT Lakes';
    font-weight: 500;

    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
    }
  }
}
