.slide-menu {
  display: flex;
  align-items: center;
  overflow: scroll;
  column-gap: 20px;

  scrollbar-width: none;
  padding-left: 16px;
  height: 44px;

  &__link {
    display: block;

    color: $text-light;

    white-space: nowrap;
    padding: 8px 10px;

    text-decoration: none;
    color: $text;

    &:hover {
      background-color: $white;
      box-shadow: 0 0 2px 2px $light-blue;
      border-radius: 6px;

      transition: box-shadow 0.3s ease;
    }
  }
}
