.swiper-wrapper {
  height: fit-content;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    row-gap: 16px;
    column-gap: 24px;
    transition: all 0.3s ease-in-out;

    transform: none;
  }

  @media (min-width: 1120px) {
    column-gap: 32px;

    grid-template-columns: repeat(auto-fit, 240px);
  }
}

.swiper {
  &__list-item {
    flex: 0 0 240px;
    max-height: 72px;
    border: 1px solid #eaeaea;
    border-radius: 6px;

    background-color: #ffffff;

    &:hover,
    &:focus {
      box-shadow: 0 0 2px 2px #b8ffec;
      transition: box-shadow 0.3s ease;
    }
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 16px;

    cursor: pointer;
  }

  &__img {
    max-height: 40px;
    object-fit: none;
  }

  &__button {
    display: inline-block;
    border: 2px solid #ff3e79;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      border-right: 2px solid #ff3e79;
      border-top: 2px solid #ff3e79;
      height: 8px;
      width: 8px;
      top: 40%;
      left: 35%;
      transform: rotate(45deg);
    }
  }

  // prices block

  &__text {
    align-self: flex-start;
  }

  &__headers {
    display: none;
  }

  &__title {
    color: #7e7e82;
  }

  &__slide--services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    flex: 0 0 260px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px;

    position: relative;
    height: 200px;
  }

  @media (min-width: 768px) {
    // prices tablet

    &__table {
      display: flex;
      flex-direction: column;

      row-gap: 0;
    }

    &__headers {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      padding: 16px;
      align-items: center;
      gap: 26px;
    }

    &__title {
      color: #7e7e82;
    }

    &__slide--services {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      grid-template-rows: 64px;
      align-items: center;

      background-color: #ffffff;
      border-radius: 0px;
      padding: 0 16px;
      height: auto;
      width: auto;

      position: relative;

      flex: auto;

      &::after {
        content: '';
        width: 95%;
        height: 1px;
        background-color: #eaeaea;
        position: absolute;
        bottom: 0;
        left: 16px;
      }
    }
  }

  @media (min-width: 1120px) {
    &__headers {
      grid-template-columns: 3fr 1fr 1fr 1fr;
    }

    &__slide--services {
      grid-template-columns: 3fr 1fr 1fr 1fr;
    }
  }
}

.swiper-slide {
  &__title {
    color: #7e7e82;
  }

  &__button {
    background-color: #ff3e79;
    border-radius: 20px;
    padding: 12px 5px;
    width: 120px;

    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;

    position: absolute;
    bottom: 16px;
    right: 16px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: all ease 0.3s;

    cursor: pointer;

    &:hover,
    &:focus {
      transform: scale(1.1);

      transition: all ease 0.3s;
    }
  }

  @media (min-width: 768px) {
    &__title {
      display: none;
    }

    &__button {
      position: static;

      height: 16px;
    }
  }
}

.swiper-pagination {
  position: static;

  @media (min-width: 768px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;

  background: #7e7e82;

  cursor: pointer;
}
